<!-- Sidebar -->
<ul class="navbar-nav bg-danger sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <img class="img-profile rounded-circle"
            src="/images/img-logo.png">
        </div>
        <div class="sidebar-brand-text mx-3">Dreams app </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <li class="nav-item">
        <a class="nav-link" href="/admin/produk" >
            <i class="fas fa-fw fa-folder"></i>
            <span>data produk</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/pemesanan" >
            <i class="fas fa-fw fa-folder"></i>
            <span>data pemesanan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/user" >
            <i class="fas fa-fw fa-folder"></i>
            <span>data user</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/pembayaran" >
            <i class="fas fa-fw fa-folder"></i>
            <span>data pembayaran</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/keranjang" >
            <i class="fas fa-fw fa-folder"></i>
            <span>keranjang</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/bank" >
            <i class="fas fa-fw fa-folder"></i>
            <span>data bank</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/promo" >
            <i class="fas fa-fw fa-folder"></i>
            <span>data promo</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/testimonial" >
            <i class="fas fa-fw fa-folder"></i>
            <span>data testimonial</span>
        </a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="/admin/user" >
            <i class="fas fa-fw fa-folder"></i>
            <span>user</span>
        </a>
    </li> -->








    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->