/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" );

* {
    font-family: poppins;
}

/* utilittis */
h1 {
    font-size: 40px;
    font-weight: 600;
}


p {
    font-size: 14px;
}

body a {
    text-decoration: none;
    color: #4b89b8;

}

body .btn-utama {
    background-color: #4b89b8;
    border: none;
    color: white;
    width: 130px;
}

body .btn-utama:hover {
    background-color: #5aa0d6;
    border: none;
    color: white;
}

/* navbar */
.navbar-brand img {
    width: 50px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    margin-right: 20px;
}

/* .barnav .btn-biru:hover {
    background-color: #325672;
    border: none;
    color: white;
} */

/* rekomendasi */
.kue-rekomendasi .cost {
    color: #4B89B8;
    margin-top: -10px;
}

.kue-rekomendasi .card .card-text {
    color: #cdcdcd;
}

.kue-rekomendasi .card .card-text {
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.kue-rekomendasi {
    margin-top: 100px;
}

/* hero */
.beranda .hero {
    background-image: url(../src/assets/img-hero-beranda.png);
    background-size: cover;
    height: 500px;

}

.beranda .hero .container {
    margin-top: 20px;
}


/* menu */
.hero-menu {
    background-image: url(../src/assets/img-hero-menu.png);
    background-size: cover;
    height: 500px;
}

.menu .deskripsi-hero {
    margin-top: 40%;
}

.makanan-kue .cost {
    color: #4B89B8;
    margin-top: -10px;
}

.makanan-kue .card .card-text {
    color: #cdcdcd;
}

.makanan-kue .card {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.makanan-kue {
    margin-top: 100px;
}

.makanan-cake .cost {
    color: #4B89B8;
    margin-top: -10px;
}

.makanan-cake .card .card-text {
    color: #cdcdcd;
}

.makanan-cake .card {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.makanan-cake {
    margin-top: 100px;
}


/* about */
.hero-about {
    background-image: url(../src/assets/img-hero-about.png);
    background-size: cover;
    height: 500px;
}

.about .about-hero {
    margin-top: 20%;
}

.indo-sejarah {
    margin-top: 100px;
}

.indo-sejarah .indo-sejarah {
    width: 42px;
}

.indo-sejarah img {
    width: 100%;
}

.ic-visi {
    margin-top: 100px;
}

.ic-visi .ic-promo {
    width: 42px;
}

.ic-visi img {
    width: 100%;
}

.ic-misi {
    margin-top: 30px;
}

.ic-misi .ic-misi {
    width: 42px;
}

.ic-misi img {
    width: 100%;
}

.ic-visimisi {
    margin-top: 100px;
}

.cta {
    margin-top: 100px;
    width: 100%;
}

/* daftar */


.daftar .btn-utama {
    background-color: #4B89B8;
    border: none;
    color: white;
    width: 130px;
}

.daftar .btn-utama:hover {
    background-color: #5aa0d6;
    border: none;
    color: white;
}

.daftar .container {
    display: flex;
    justify-content: center;
}

.daftar .title {
    text-align: center;
    margin-top: 10%;
}

.daftar .form-label {
    padding-top: 15px;
    padding-bottom: 5px;
}

.daftar .punya-akun {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

/* masuk */
.masuk .btn-masuk {
    background-color: #b33838;
    border: none;
    color: white;
    width: 130px;
}

.masuk .btn-masuk:hover {
    background-color: #a72828;
    border: none;
    color: white;
}

.masuk .container {
    display: flex;
    justify-content: center;
}

.masuk .title {
    text-align: center;
    margin-top: 10%;
}

.masuk .form-label {
    padding-top: 15px;
    padding-bottom: 5px;
}

.masuk .punya-akun {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


/* search */
.search .cari {
    background-color: #ff2d2d;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.search .cari h5 {
    margin-top: -10px;
}

.search .hasil {
    margin-top: 100px;
}


.search .hasil .card-pilihan {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
}

.search .hasil .card-pilihan h4 {
    color: #D0881C;
}

.search .hasil .jumlah {
    margin-top: auto;
    margin-bottom: auto;
}

/* info */
.detail-info {
    margin-top: 50px;
}

.detail-info .radios {
    display: flex;
}

.detail-info .radios .form-check {
    margin-right: 50px;
}

.detail-info .card {
    padding: 30px;
}

.detail-info .form-label {
    font-weight: 600;
    margin-top: 10px;
}

.detail-info .rincian img {
    width: 120px;
    margin-top: -10px;
}

.detail-info .rincian h5 {
    margin-top: -10px;
}

.detail-info .rincian p {
    margin-top: 10px;
}

/* bayar */
.bayar .nav {
    margin-top: 20px;
}

.bayar .card {
    margin-top: 20px;
    padding: 30px;
}

.bayar .card img {
    width: 120px;
}

.bayar .metode {
    width: 50%;
}

.bayar .metode img {
    margin-bottom: 10px;
}

.bayar .rincian h5 {
    margin-top: -10px;
}

.bayar .rincian img {
    margin-top: -10px;
}


/* konfirmasi */
.konfirmasi .card {
    padding: 30px;
}

.konfirmasi .card h5 {
    margin-top: -10px;
    margin-bottom: 15px;
}

.konfirmasi .card img {
    margin-top: -10px;
    margin-bottom: 15px;
    width: 120px;
}



/* promo */
.promo {
    margin-top: 100px;
}

.promo .ic-promo {
    width: 42px;
}

.promo img {
    width: 100%;
}

.promo .btn-merah {
    background-color: #da4141;
    border: none;
    color: #f3f3f3;
}

.promo .btn-biru:hover {
    background-color: #325672;
    border: none;
    color: white;
}

/* testimoni */
.testimoni {
    margin-top: 100px;
}

.testimoni .card {
    width: 100%;
}





/* profil */
.profil .info {
    padding: 30px;
}

.profil .info h5 {
    margin-top: -10px;
    margin-bottom: 15px;
}

.profil .info .opsi {
    display: flex;
    justify-content: end;
    align-items: center;
}

.profil .info .opsi .btn {
    margin-top: 10px;
}

.profil .transaksi {
    margin-top: 50px;
}

.profil .transaksi .nav {
    margin-bottom: 20px;
    margin-top: 20px;
}

.profil .transaksi .riwayat {
    padding: 30px;
}

.profil .riwayat h5 {
    margin-top: -10px;
    margin-bottom: 15px;
}

.profil .riwayat img {
    margin-top: -10px;
    width: 120px;
}

.profil .riwayat .pending {
    background-color: bisque;
    margin-top: -10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D0881C;
    border-radius: 5px;

}

.profil .riwayat .lunas {
    background-color: bisque;
    margin-top: -10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    border-radius: 5px;

}

.profil .riwayat .selesai {
    background-color: bisque;
    margin-top: -10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00487f;
    border-radius: 5px;

}

/* footer */
footer {
    background-color: #ff0000;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

footer h5 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

footer h6 {
    text-align: end;
}

footer a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

footer a:hover {
    text-decoration: underline yellow;
    color: white;

}